[submodule "third_party/stb"]
	path = 3rd/stb
	url = https://github.com/take-cheeze/stb.git
	branch = "rpg-maker"
[submodule "third_party/mruby"]
	path = 3rd/mruby
	url = https://github.com/mruby/mruby.git
[submodule "third_party/cmdline"]
	path = 3rd/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "third_party/timidity"]
	path = 3rd/timidity
	url = https://git.code.sf.net/p/timidity/git
	ignore = dirty
[submodule "third_party/lvgl"]
	path = 3rd/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "third_party/glog"]
	path = 3rd/glog
	url = https://github.com/google/glog.git
[submodule "3rd/gflags"]
	path = 3rd/gflags
	url = https://github.com/gflags/gflags.git
[submodule "3rd/mgem-list"]
	path = 3rd/mgem-list
	url = https://github.com/mruby/mgem-list.git
[submodule "3rd/mruby-marshal"]
	path = 3rd/mruby-marshal
	url = https://github.com/take-cheeze/mruby-marshal.git
[submodule "3rd/mruby-onig-regexp"]
	path = 3rd/mruby-onig-regexp
	url = https://github.com/mattn/mruby-onig-regexp.git
[submodule "3rd/mruby-stringio"]
	path = 3rd/mruby-stringio
	url = https://github.com/ksss/mruby-stringio.git
[submodule "3rd/uni-algo"]
	path = 3rd/uni-algo
	url = https://github.com/uni-algo/uni-algo.git
[submodule "3rd/inicpp"]
	path = 3rd/inicpp
	url = https://github.com/dujingning/inicpp.git
